{
  id: @<%= @resource_name %>.id,
<% @attribute_names.each do |attr_name| -%>
  <%= attr_name %>: @<%= @resource_name %>.<%= attr_name %>,
<% end -%>
  created_at: @<%= @resource_name %>.created_at,
  updated_at: @<%= @resource_name %>.updated_at
}
