<div class="container">
  <h2>管理者ログイン</h2>
  <%= form_tag('/admin_sessions/sign_in', method: :post) do %> 
    <div class="form-group">
      <label for="login_name">ログインID</label>
      <input type="text" class="form-control" id="login_name" name="login_name" required>
    </div>
    <div class="form-group">
      <label for="password">パスワード</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">ログイン</button>
  <% end %>

  <br/>
  <hr>
  <%= link_to '会社ユーザーログイン', '/sessions/sign_in' %>
</div>
