<div class="alert alert-warning alert-dismissible fade show" role="alert">
  入力エラーがあります
<%#    <ul>%>
<%#      <% model.errors.full_messages.each do |message| +|%>
<%#        <li><%= message +|</li>%>
<%#      <% end +|%>
<%#    </ul>%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
