<div class="col-12 col-md-3 col-xl-2 kenki-sidebar">
  <nav class="kenki-links collapse" id="kenki-docs-nav" style="">
    <div class="kenki-toc-item">
      <a href="/companies" class="kenki-toc-link">会社</a>
    </div>
    <div class="kenki-toc-item">
      <a href="/categories" class="kenki-toc-link">分類</a>
    </div>
    <div class="kenki-toc-item">
      <a href="/sub_categories" class="kenki-toc-link">サブカテゴリ</a>
    </div>
  </nav>
</div>
